.card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom: 2rem;
  flex-shrink: 0;
  width: 60vw;
  margin-top: 2rem;
  padding-right: 5rem;
  .details {
    .title {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      line-height: 1.5rem;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
      line-height: 1.2rem;
    }
    .project-tag {
      display: inline-block;
      background: rgba(235, 235, 235, 0.466);
      margin-right: 0.5rem;
      margin-bottom: 0.2rem;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.65rem;
    }
  }
  .links {
    display: flex;
    // gap: 1.5rem;
    margin-top: 0.7em;
    font-size: 150%;
    a {
      margin-right: 0.7em;
      transition: all 0.3s ease-out;
      &:hover {
        // font-weight: bolder;
        color: $clr-secondary-3;
        transform: translate3d(0px, -0.125rem, 0px);
      }
    }
    @supports (gap: 1.5rem) {
      a {
        margin-right: 0;
      }
      gap: 1.5rem;
    }
  }
  .thumbnail-wrapper {
    width: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2.5rem;
    transition: all 0.3s ease-out 0s;
  }
  @media (min-width: 800px) {
    width: 50%;
    margin-top: 0.8rem;
  }
}
