$ff-primary: "Karla", sans-serif;
$ff-secondary: Helvetica, sans-serif;
$clr-primary-1: #fff;
$clr-secondary-1: #fffff4;
$clr-secondary-2: #ddddd4;
$clr-secondary-3: darkgray;
$bg-clr-1: #001721;
$bg-clr-2: #293d48;
$bg-clr-3: #3e5b6b;
$bg-clr-4: #04080a;

$gradient-left-tricolor: linear-gradient(
  270deg,
  rgba(244, 235, 47, 1) 37%,
  rgba(0, 245, 255, 1) 39%,
  rgba(0, 245, 255, 1) 75%,
  rgba(255, 65, 62, 1) 77%
);
$gradient-bottom-right-bg: linear-gradient(
  135deg,
  rgba(255, 255, 244, 1) 0%,
  rgba(0, 23, 33, 1) 43%,
  rgba(4, 8, 10, 1) 84%
);

/* WIDTH & HEIGHT */
$h-navbar: 5rem;
$h-footer: 8rem;

/* MARGIN & PADDING */
$mt-footer: 10rem;

/* GRID */
$grid-gutter: 20px;

/* BOX SHADOW */
$b0x-shadow-clr-1: 0 0px 5px 1px #3c444cb5;

/* SCSS HEX */
$air-superiority-blue: #80a1c1ff;
$dark-sienna: #230b06ff;
$sinopia: #cc3f0cff;
$bone: #d9cfc1ff;
$medium-champagne: #eee3abff;
$midnight-green-eagle-green: #0b3c49ff;
