$ff-secondary: Helvetica, sans-serif;
$clr-grey-1: #333;
$clr-background: #cc3f0cff;

/* GRID */
$grid-gutter: 20px;

/* SCSS HEX */
$air-superiority-blue: #80a1c1ff;
$dark-sienna: #230b06ff;
$sinopia: #cc3f0cff;
$bone: #d9cfc1ff;
$medium-champagne: #eee3abff;
$midnight-green-eagle-green: #0b3c49ff;
