$ff-primary: Helvetica, sans-serif;
$ff-secondary: Helvetica, sans-serif;
$clr-primary-1: #fff;
$clr-secondary-1: #fffff4;
$bg-clr-1: #001721;
$bg-clr-2: #293d48;
$bg-clr-3: #3e5b6b;
$gradient-left-tricolor: linear-gradient(
  270deg,
  rgba(244, 235, 47, 1) 37%,
  rgba(0, 245, 255, 1) 39%,
  rgba(0, 245, 255, 1) 75%,
  rgba(255, 65, 62, 1) 77%
);

/* WIDTH & HEIGHT */
$navbar-h: 5rem;

/* GRID */
$grid-gutter: 20px;

/* SCSS HEX */
$air-superiority-blue: #80a1c1ff;
$dark-sienna: #230b06ff;
$sinopia: #cc3f0cff;
$bone: #d9cfc1ff;
$medium-champagne: #eee3abff;
$midnight-green-eagle-green: #0b3c49ff;
