.contact {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  &-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .avatar {
    width: 100%;
    max-width: 8rem;
    border-radius: 50%;
    margin-right: 4rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
  }
}
