@import "variables";
@import "sidebar";

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $h-navbar;
  background: $gradient-bottom-right-bg;
  z-index: 200;
  .nav-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 62.5rem;
    margin: 0px auto;
    padding: 0px 2.5rem;

    .toggle-btn {
      z-index: 12;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      &:focus {
        outline: none;
      }
      &.open {
        position: fixed;
        right: 2.5rem;
        div {
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: translateX(20px);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }

      div {
        width: 2rem;
        height: 0.25rem;
        background: $clr-primary-1;
        border-radius: 0.625rem;
        transition: all 0.3s ease-in-out;
        position: relative;
        transform-origin: 1px;
        &:first-child {
          transform: rotate(0);
        }
        &:nth-child(2) {
          opacity: 1;
          transform: translateX(0);
        }
        &:nth-child(3) {
          transform: rotate(0);
        }
      }
    }
    img {
      // width: 4.375rem;
      // height: 4.375rem;
      height: 70%;
      margin: 0;
      // border-radius: 50%;
      // -webkit-border-radius: 50%;
      // -moz-border-radius: 50%;
      // box-shadow: $b0x-shadow-clr-1;
      // box-shadow: 0 0px 5px 1px #3c444cb5;
      // border: 5px solid $bg-clr-3;
    }
  }
  @media screen and (min-width: 800px) {
    .nav-center {
      .toggle-btn {
        display: none;
      }
      .no-sidebar {
        display: flex;
        // gap: 4vw;
        margin: 0 2vw -1rem 0;
        text-transform: capitalize;
        li {
          padding: 0 1rem;
          margin: 0;
          &:hover {
            background-color: $bg-clr-2;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
