.sidebar {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  outline: currentcolor none 0px;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(100%);
  z-index: 10;
  visibility: hidden;
  &.open {
    transform: translateX(0px);
    visibility: visible;
  }
  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $bg-clr-4;
    height: 100vh;
    width: 55%;
    text-align: left;
    padding: 2rem;
    position: relative;
    right: 0;
    margin-left: auto;
    color: $clr-secondary-1;
  }
  &-links {
    // li:hover {
    //   color: violet;
    //   text-decoration: underline;
    // }
    a {
      position: relative;
      display: inline-block;

      &:hover {
        &::before,
        &::after {
          opacity: 1;
          transform: translateX(-50%) translateY(-50%) scale(1);
        }
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(224, 220, 220, 0.253);
        border-radius: 50%;
        content: "";
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateX(-50%) translateY(-50%) scale(0.2);
      }
      &::after {
        width: 40px;
        height: 40px;
        border-width: 6px;
      }
    }
  }
}
.sidebar-backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: all 0.3s ease-in-out;
  &.open {
    display: block;
  }
}
